@import 'styles/variables.scss';

.my-content {
  padding: 0;
  min-width: $minWidth;

  @media screen and (min-width: $desktopWith) {
    .my-about {
      max-width: 952px;
    }
  }

  @media screen and (min-width: $tabletWidth) {
    .my-about {
      max-width: 728px;
    }
  }

  .my-about {
    padding-top: $headerHeight;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    min-width: $minWidth;

    .my-about-me {
      text-align: center;
      font-weight: 700;
      font-size: 45px;
      color: #000;
      padding-bottom: 20px;
    }

    .my-about-hello {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 15px;
      color: #32333c
    }

    .my-about-description {
      font-weight: 400;
      line-height: 28px;
      color: $defaultColor;
      padding-bottom: 15px;
    }

    .my-label-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
