
.menu {
  height: 64px;
  background-color: #eee;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .menu {
    justify-content: center;
  }
}

.menu a {
  font-size: -webkit-xxx-large;
  text-decoration: underline;
  color: darkgrey;
  padding: 0px 15px 0px 15px;
}

.menu a:first-child {
  border-right: solid 1px black;
}

.menu a:hover{
  color: chocolate;
}
