@import 'styles/variables.scss';

.wrapper {
  -moz-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  -webkit-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  -ms-transition: background 1s ease-in-out, height 0.2s ease-in-out;
  transition: background 1s ease-in-out, height 0.2s ease-in-out;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background: rgba(254, 254, 254, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10001;

  .inner {
    -moz-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    -webkit-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    -ms-transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    transition: height 0.2s ease-in-out, width 0.2s ease-in-out;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    background: #e74c3c;
    border-radius: 100%;
    width: 35em;
    height: 35em;
    padding: 4em;
    text-align: center;
    box-shadow: 0 0 0 1em #fff;
    cursor: default;

    .content {
      -moz-transition: opacity 1s ease-in-out;
      -webkit-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
      opacity: 1;

      h1 {
        font-size: 4em;
        font-family: 'Pattaya', sans-serif;
        margin: 0 0 0.25em 0;
        color: #fff;
      }

      h2 {
        font-size: 1.5em;
        color: #fff;
        margin: 0 0 1em 0;
      }

      a {
        background: #fff;
        color: #e74c3c;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
        border-radius: 4px;
        border: 0;
        cursor: pointer;
        display: inline-block;
        font-weight: 300;
        height: 2.85em;
        line-height: 2.95em;
        padding: 0 2.5em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
      }
    }
  }

  @media screen and (max-width: $tabletWidth) {
    .inner {
      width: 25em;
      height: 25em;
      font-size: .75em;
      padding: 3em;
    }
  }
}
