@import "styles/variables.scss";

@mixin vertical-bar {
  position: absolute;
  content: "";
  width: 3px;
  height: 0;
  background-color: $primaryColor;
  left: 50%;
  top: -50px;
  transition: all $headerVerticalBarTranstitionTime;
  -webkit-transition: all $headerVerticalBarTranstitionTime;
}

.my-menu-list-item {
  position: relative;
  margin-left: 20px;
  text-transform: uppercase;

  .vertical-bar {
    @include vertical-bar;
  }

  .active-vertical-bar {
    @include vertical-bar;
    height: $headerVerticalBarHeight;
  }

  :hover {
    cursor: pointer;
    color: $primaryColor;
  }

  ::before {
    @include vertical-bar;
  }

  :hover::before {
    @include vertical-bar;
    height: $headerVerticalBarHeight;
  }
}

.active {
  color: $primaryColor;
}
