@import 'styles/variables.scss';

@media screen and (max-width: $tabletWidth) {
  .my-about {
    padding-left: 0px !important;
    padding-right: 0px !important;
    .my-description-skils {
      .my-description-skils-left {
        width: 100% !important;
        .my-label-items {
          margin-bottom: 20px;
        }
      }

      .my-description-skils-right {
        width: 100% !important;
        min-height: 200px;
      }
    }
  }
}

@media screen and (min-width: $phoneWidth) {
  .my-about {
    max-width: 720px;
  }
}

@media screen and (min-width: $tabletWidth) {
  .my-about {
    max-width: 960px;
  }
}

@media screen and (min-width: $desktopWidth) {
  .my-about {
    max-width: 1140px;
  }
}

.my-about {
  padding-top: $headerHeight;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 100px;
  margin: auto;
  min-width: $minWidth;

  .my-about-me {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #000;
    padding-bottom: 20px;
  }

  .my-description-skils {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

    .my-description-skils-left {
      width: 50%;
      min-width: $minWidth;

      .my-about-hello {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 15px;
        color: #32333c;
      }

      .my-about-description {
        font-weight: 400;
        line-height: 28px;
        color: $defaultColor;
        padding-bottom: 15px;
      }

      .my-label-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }

    .my-description-skils-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: $minWidth;
    }
  }
}
