@import "styles/variables.scss";

a {
  color: #ccc;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-align: center;
  display: inline-block;
  margin-left: 10px;

  .my-social-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}

a:hover {
  color: #fff;
  background-color: $primaryColor;
  border-color:$primaryColor;
}
