.intro {
  color: white;
  display: flex;
  flex-flow: column;
  height: 90%;
  justify-content: space-between;
}

.name {
  font-size: xx-large;
  padding-left: 1em;
}

.description {
  height: 60%;
  font-size: -webkit-xxx-large;
  padding-left: 1em;
}

@media screen and (max-width: 750px) {
  .description {
    font-size: 23px;
  }
}

.divider {
  border: 1px white solid;
  width: 5%;
  margin-top: 5px;
}

.legends {
  font-size: large;
}
